.dtf-menu {
  width: 300px;         
  height: 100vh;
  overflow-y: auto; // Изменено с scroll на auto
  padding: 0 20px;      
  box-sizing: border-box; 
  scrollbar-width: thin; // Для Firefox
  scrollbar-color: #282828 #000000; // Для Firefox
}

/* Стилизация для WebKit */
.dtf-menu::-webkit-scrollbar {
  width: 6px;
}

.dtf-menu::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 3px;
}

.dtf-menu::-webkit-scrollbar-thumb {
  background: #282828;
  border-radius: 3px;
}

.dtf-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dft-button{
  display: flex;
  flex-direction: column;
}
.dft-menu-container{
  margin-top: 20px;
}

.dft-bth{
    --height: 46px;
    --offset: 10px;
    display: flex;
    align-items: center;
    min-width: 0;
    height: var(--height);
    padding: 0 var(--offset);
    border-radius: 12px;
    cursor: pointer;
    color: rgb(202, 202, 202);
    text-decoration: none;
}

.dft-bth:hover{
  background-color: rgb(70, 70, 70);
}

.qazwsx{
  width: 25px;
  height: 25px;
  margin: 10px;
  color: rgb(202, 202, 202);

}
.dft-theme{
  margin-top: 20px;
  margin-left: 20px;

}

.ft-theme-title{
  font-family: 'JetBrains Mono';
  color: rgb(87, 87, 87);


  

}

.theme-pos{
  display: flex;
  margin-top: 15px;
}
.pos-title{
  margin-left: 10px;
  margin-top: 5px;
}
.tg-cont{
  padding: 0 10px 0 10px;
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
  margin-top: 10px;
}

.tg-title{
  color: white;
  text-align: center;
}